<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160604092231-n7sqcr3o3595vfc2u3u27r2lf4u73eg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160604092231-n7sqcr3o3595vfc2u3u27r2lf4u73eg8</string>
	<key>API_KEY</key>
	<string>AIzaSyC4wiIn0cfx0XyFmJ2TPJ8xNzi7G82rd_o</string>
	<key>GCM_SENDER_ID</key>
	<string>160604092231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mec.ios</string>
	<key>PROJECT_ID</key>
	<string>mec-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mec-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160604092231:ios:775d88e454b0638135be62</string>
</dict>
</plist>